<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="main" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=Ushakova_Angelika_Diplom1;Server=ЛИКА-ПК\SQLEXPRESS"/>
  </connectionStrings>
</configuration>